/output
/out
/oppo
/src/__pycache__
/data
/seg
/processed
/processed-one
/out-one
result.csv
/outh
/dist
/build
/totalsegmentator_weights
/venv
/weight_download_work
/weight_download_work.zip
/.venv
/__pycache__